body {
    font-family: 'Roboto', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
}

.first,
.footer {
    background-color: #1F2937;
}

/*contains header, intro text and image*/
.first {
    display: flex;
    flex-direction: column;
}

/*contains logo text, and 3 links*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    font-size: 24px;

}

.links-div {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


/*contains intro text and image*/
.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom: 40px;
}

.intro-text {
    display: flex;
    flex-direction: column;

}

/* from https://stackoverflow.com/questions/7101743/can-i-style-an-images-alt-text-with-css*/
/*Photo by Anthony 🙂: https://www.pexels.com/photo/closed-up-photography-of-brown-wooden-framed-sony-speaker-157534/*/
img {
    color: #E5E7EB;
    height: 205pxpx;
    width: 300px;
}

.image {
    display: flex;
    flex-direction: row;
}

/* for readability changed the color of the alt attribute of images in the box div*/
.box img {

    color: darkblue;
    border: #3882F6 2px solid;

    height: 150px;
    width: 150px;
    /*border-radius used to round border edges*/
    border-radius: 30px;
}

#intro-title {
    font-size: 48px;
    font-weight: 800;
    margin-top: -24px;
    margin-bottom: -24px;
    padding-top: 15px;
}

#intro-subtext {
    padding-top: 9px;
}

#intro-subtext,
a {
    font-size: 18px;
    color: #E5E7EB;
}

.button-01 {
    align-self: flex-start;
}

button,
.logo,
#intro-title {
    color: #F9FAF8;
}

#info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;

}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.box {
    /* flex direction is column for lining up image and subtext*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.box p {
    height: 150px;
    width: 150px;

    text-align: center;

}

button,
.sign-up {
    background-color: #3882F6;
}

.sign-up p {
    color: #E5E7EB;
}

.sign-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;

    /*to make whitespace around*/
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 40px;
    margin-right: 40px;

    /*to make gap*/
    gap: 75px;

    /*to soften border*/
   border-radius: 30px;

   /*to make space between edge*/
   padding-left: 50px;
   padding-right: 50px;
}

.text-box {

    /*flex to center text for quote*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #E5E7EB;

}

.button-02 {
    align-self: center;
}

.about-item {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}


.footer {
    color: #E5E7EB;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}