body {
    font-family: 'Roboto', sans-serif;
}

.page {
    display: flex;
    flex-direction: column;
}

.first,
.footer {
    background-color: #1F2937;
}

/*contains header, intro text and image*/
.first {
    display: flex;
    flex-direction: column;
}

/*contains logo text, and 3 links*/
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    font-size: 24px;

}

.links-div {
    display: flex;
    flex-direction: row;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.intro-text {
    display: flex;
    flex-direction: column;
}

/* from https://stackoverflow.com/questions/7101743/can-i-style-an-images-alt-text-with-css*/
img {
    color: #E5E7EB;
}

/* for readability changed the color of the alt attribute of images in the box div*/
.box img {
    color: darkblue;
}

#intro-title {
    font-size: 48px;
    font-weight: 800;

}

#intro-subtext,
.link {
    font-size: 18px;
    color: #E5E7EB;
}

button,
.logo,
#intro-title {
    color: #F9FAF8;
}

#info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;

}

button,
.sign-up {
    background-color: #3882F6;
}

.text-box {
    background-color: #E5E7EB;

}

.about-item {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.footer {
    color: #E5E7EB;
}